<a href="https://colab.research.google.com/github/dscoool/aisecurity/blob/main/7_%E1%84%87%E1%85%A1%E1%86%AB%E1%84%87%E1%85%A9%E1%86%A8%E1%84%86%E1%85%AE%E1%86%AB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [ ]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [ ]:
for i in range(10,5,-1):
    print(i)

10
9
8
7
6

In [ ]:
a_list = [1,2,3,4,5,"안녕","하세요"]

for i in a_list:
    print(i)

1
2
3
4
5
안녕
하세요

In [ ]:
a_str = "hello python"

for i in a_str:
    print(i)

h
e
l
l
o

p
y
t
h
o
n

In [ ]:
name_list = ["홍길동","장다인","김철수"]
age_list = [500,5,12]

for i,k in enumerate(name_list):
    print("i=",i,end='  ')
    print("k=",k)

i= 0  k= 홍길동
i= 1  k= 장다인
i= 2  k= 김철수

In [ ]:
name_list = ["홍길동","장다인","김철수"]
age_list = [500,5,12]

for i,k in enumerate(name_list):
    print(k,end='  ')
    print(age_list[i])

for i,k in enumerate(name_list):
    print(name_list[i],end='  ')
    print(age_list[i])

홍길동  500
장다인  5
김철수  12
홍길동  500
장다인  5
김철수  12

In [ ]:
name_list = ["홍길동","장다인","김철수"]
age_list = [500,5,12]

for i in range(len(name_list)):
    print(name_list[i],end='  ')
    print(age_list[i])

홍길동  500
장다인  5
김철수  12

In [ ]:
test_list = [i for i in range(10)]

print(test_list)


test2_list = []
for i in range(10):
    test2_list.append(i)

print(test2_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
test_list = [i * 5 for i in range(10)]

print(test_list)

test2_list = [0 for i in range(10)]

print(test2_list)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
a = 0
while a  < 5:
    print(a)
    a = a + 1

0
1
2
3
4
True

In [ ]:
a = 0
while True:
    print(a)
    a = a + 1
    if a >= 5:
        break

0
1
2
3
4